{% extends 'base.html' %}

{% block header %}
<script type="text/javascript">
    function on_load(){
        list_file(  JSON.parse('{{ file_list | tojson | safe}}') );
    }
</script>
{% endblock %}

{% block content %}

<body onload="on_load()">
    <div class="file-select-container">
        <div class="data-selector">
            <label for="year_select">Year select:</label>
            <select id="year_select" multiple=true onchange="on_year_change()"></select>
    
            <label for="month_select">Month select:</label>
            <select id="month_select" multiple=true onchange="on_month_change()"></select>
    
            <label for="day_select">Day select:</label>
            <select id="day_select" multiple=true></select>
    
            <button type="button" onclick="on_view_data()" class="btn">View Selected Data</button>
        </div>

        <div class="plots empty" id="plots">
            
            <div id="o2_plot" class="card"></div>
            <div id="co2_plot" class="card"></div>
            <div id="temp_plot" class="card"></div>
            <div id="hum_plot" class="card"></div>
        </div>
    </div>
    
</body>
{% endblock %}
